<header class="[ intro ] [ pad-top-300 pad-bottom-300 ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h2 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h2>
				      {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>
