---
permalink: /tags/
layout: layouts/page.njk
title: Tags
---


		  <div class="inner-wrapper">
				<ul>
				{% for tag in collections.tagList %}
				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
				<a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
                {% endfor %}
				</ul>
            </div>
