/* JOST* */

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-100.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-200.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-300.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-400.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-500.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-600.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-800.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-900.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-100-Italic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-200-Italic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-300-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-400-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-500-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-600-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-700-Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-800-Italic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-900-Italic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;

}



body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}




/* DejaVuSans-ExtraLight 
@font-face {
  font-family: 'DejaVuSans-ExtraLight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('DejaVuSans-Extralight'),
    url('/fonts/DejaVuSans-ExtraLight.ttf') format('ttf');
}*/