/* Quentin */

@font-face {
  font-family: "QuentinCaps";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/quen.ttf") format("ttf");
  src: url("https://kowloonplanet.netlify.com/fonts/quen.ttf") format("ttf");
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: get-size(700);
  font-family: QuentinCaps;
}

title {
  font-family: QuentinCaps;
  color: red;
}

h2 {
  font-size: get-size(600);
  color: #9e262b;
  @include apply-utility('font', 'serif');
}

h3 {
  font-size: get-size(500);
  color: #9e262b;
  @include apply-utility('font', 'serif');
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}




/* DejaVuSans-ExtraLight 
@font-face {
  font-family: 'DejaVuSans-ExtraLight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('DejaVuSans-Extralight'),
    url('/fonts/DejaVuSans-ExtraLight.ttf') format('ttf');
}*/